
html {
  font-family: "Noto Sans", sans-serif;
  color: #000;
}

.font-jp {
  font-family: "Noto Sans Japanese", sans-serif;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  color: #005e76;
  text-decoration: none;
  border-bottom: .1em solid #8bc9d9;
}

.nav a:hover {
  border-color: #0084a6;
  color: #005e76;
}

.btn-ghost {
  text-decoration: none;
  color: #005e76;
  border-color: #8bc9d9;
  border-width: 2px;
}

.btn-ghost:hover {
  color: #005e76;
  background-color: #8bc9d9;
  border-width: 2px;
  border-color: #0084a6;
}

.intro {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
  margin-bottom: 0;
}

footer {
  color: #666;
  border-top: 2px solid #e2e2e2;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
